@tailwind base;
@tailwind components;
@tailwind utilities;

/* markdown render hack*/
.prose > h1:first-child,
.prose > h2:first-child,
.prose > h3:first-child,
.prose > h4:first-child,
.prose hr + h1,
.prose hr + h2,
.prose hr + h3,
.prose hr + h4 {
    margin-top: 0;
}

.prose blockquote p {
    margin: 0;
}

.prose blockquote p:not(:last-of-type) {
    margin-bottom: 1.25em;
}

.prose :where(blockquote):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
    padding: 1em 0;
    padding-inline-start: 1em;
    quotes: none;
}

/* loader spinner */
.loader {
    display: inline-block;
    position: fixed;
    top: calc(50vh - 24px);
    left: calc(50vw - 24px);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-top: 4px solid #b4befe;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid #94e2d5;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
